@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Orbitron:wght@400..900&family=Press+Start+2P&display=swap');

.audiowide {
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.press-start-2p {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

.orbitron {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: rgba(0, 0, 0);
  margin: 0;
  overflow-x: hidden;
}