@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Orbitron:wght@400..900&family=Press+Start+2P&display=swap');

.audiowide {
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.press-start-2p {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}

.orbitron {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.bg-animated {
  background: linear-gradient(-45deg, #0f172a, #1e293b, #0ea5e9, #22d3ee);
  background-size: 400% 400%;
  animation: gradientMove 8s ease infinite;
}